<header class="w-full flex justify-between items-center h-16 mb-10">
	<div class="flex-1 h-full">
		<button
			class="px-10 h-full border-2 font-medium rounded-full border-black w-fit"
			>Partnership</button
		>
	</div>

	<div class="h-full flex-1 flex justify-center items-center">
		<a href="" class="text-5xl text-center font-bold">StoryScape</a>
	</div>

	<div class="h-full flex-1">
		<div class="flex items-center h-full flex-1 justify-end">
			<button
				class="px-5 h-full border-2 font-medium rounded-full border-black mr-5 text-nowrap"
				>Subscribe Now</button
			>

			<button
				class="px-5 h-full border-2 font-medium rounded-full border-black bg-black text-white text-nowrap"
				>Talk to Expert: Milana Smith</button
			>

			<div
				class="aspect-square h-full bg-black rounded-full overflow-hidden border-[5px] border-black">
				<img
					src="https://images.unsplash.com/photo-1517841905240-472988babdf9?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					alt="People"
					class="object-cover"
				/>
			</div>
		</div>
	</div>
</header>
